<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading && course">
  <h2>Detalles del Curso: {{ course.name }}</h2>
  <p><strong>Inicio:</strong> {{ course.startDate | date: 'dd/MM/yyyy' }}</p>
  <p><strong>Fin:</strong> {{ course.endDate | date: 'dd/MM/yyyy' }}</p>
  <h3>Estudiantes Inscriptos</h3>
  <ul>
    <li *ngFor="let enrollment of filteredEnrollments">
      {{ getStudentName(enrollment.studentId) }}
      <button mat-button (click)="deleteEnrollment(enrollment.id)">Eliminar</button>
    </li>
  </ul>
  <button mat-button [routerLink]="['/dashboard/courses']">Volver a lista de cursos</button>
</div>