@if (isLoading$ |async ) {
  <mat-spinner></mat-spinner>
  } @else if (error$ | async) {
    <p>Ocurrió un error inesperado.</p>
    <button mat-flat-button (click)="reloadPage()">Recargar</button>
  } @else {
<div>
  <h2>Detalles del Curso:</h2>
  <p><strong>Nombre del curso:</strong> {{ (selectedCourse$ | async)?.name}}</p>
  <p><strong>Comisión:</strong> {{ (selectedCourse$ | async)?.comision }}</p>
  <p><strong>Fecha de inicio:</strong> {{ (selectedCourse$ | async)?.startDate | date: 'dd/MM/yyyy' }}</p>
  <p><strong>Fecha de finalización:</strong> {{ (selectedCourse$ | async)?.endDate | date: 'dd/MM/yyyy' }}</p>
  <p><strong>Cantidad de clases:</strong> {{ (selectedCourse$ | async)?.classesCount }}</p>
  <p><strong>Duración (total de horas de clase):</strong> {{ (selectedCourse$ | async)?.duration }}</p>
  <p *ngIf="(teacher$ | async)"><strong>Profesor:</strong> {{ (teacher$ | async) | fullName }}</p>
  <h3>Alumnos inscriptos:</h3>
  <ul>
    <li *ngFor="let enrollment of filteredEnrollments$ | async">
      {{ enrollment.student | fullName}} - {{ enrollment.student.email}}
      <button mat-button (click)="deleteEnrollmentById(enrollment.id)"><mat-icon>delete</mat-icon></button>
    </li>
    </ul>
  </div>
  <button mat-button [routerLink]="['/dashboard/courses']">Volver a lista de cursos</button>
  }