<h2 mat-dialog-title chaTitle>{{ course ? 'Editando curso ' + course.name : 'Nuevo curso' }}</h2>

<mat-dialog-content>
  <form [formGroup]="courseForm">

    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Nombre del curso</mat-label>
      <input formControlName="name" matInput>
      <mat-error>Debe asignarle un nombre al curso</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Número de comisión</mat-label>
      <input type="number" formControlName="comision" matInput>
      <mat-error>Complete el número de comisión</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Fecha de inicio</mat-label>
      <input formControlName="startDate" matInput [matDatepicker]="pickerStart">
      <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
      <mat-hint>Fecha de la primera clase</mat-hint>
      <mat-error>Seleccione una fecha</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Fecha de fin</mat-label>
      <input formControlName="endDate" matInput [matDatepicker]="pickerEnd">
      <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-hint>Fecha de la última clase</mat-hint>
      <mat-datepicker #pickerEnd></mat-datepicker>
      <mat-error>Seleccione una fecha</mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button (click)="onSubmit()" mat-button [disabled]="courseForm.invalid">Guardar</button>
</mat-dialog-actions>