@if (isLoading$ |async ) {
  <mat-spinner></mat-spinner>
  } @else if (error$ | async) {
    <p>Ocurrió un error inesperado.</p>
    <button mat-flat-button (click)="reloadPage()">Recargar</button>
  } @else {
<button mat-flat-button (click)="newStudent()"><mat-icon>add</mat-icon>Ingresar un nuevo alumno</button>

<table mat-table [dataSource]="students$" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef chaTitle> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef chaTitle> Alumno </th>
    <td mat-cell *matCellDef="let element"> {{element | fullName}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef chaTitle> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="enrolledCoursesCount">
    <th mat-header-cell *matHeaderCellDef chaTitle> Cursos Inscriptos </th>
    <td mat-cell *matCellDef="let element"> {{element.enrolledCoursesCount}} </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef chaTitle> Detalles </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [routerLink]="element.id" matTooltip="Ver detalles" matTooltipPosition="above">
        <mat-icon>visibility</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef chaTitle> Editar</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="editStudent(element)" mat-icon-button matTooltip="Editar alumno" matTooltipPosition="above">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef chaTitle> Eliminar</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="deleteStudentById(element.id)" mat-icon-button matTooltip="Eliminar alumno" matTooltipPosition="above">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
}