@if (isLoading$ |async ) {
  <mat-spinner></mat-spinner>
  } @else if (error$ | async) {
  <p>Ocurrió un error inesperado.</p>
  <button mat-flat-button (click)="reloadPage()">Recargar</button>
  } @else {

<button mat-flat-button (click)="openEnrollmentDialog()"><mat-icon>add</mat-icon>Gestionar inscripción</button>

<table mat-table [dataSource]="enrollments$" class="mat-elevation-z8">

  <ng-container matColumnDef="student">
    <th mat-header-cell *matHeaderCellDef chaTitle> Alumno</th>
    <td mat-cell *matCellDef="let element"> {{element.student | fullName}}</td>
  </ng-container>

  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef chaTitle> Curso</th>
    <td mat-cell *matCellDef="let element"> {{element.course.comision}} - {{element.course.name}}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef chaTitle> Eliminar</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="deleteEnrollmentById(element.id)" mat-icon-button matTooltip="Eliminar curso" matTooltipPosition="above">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
}