<button mat-flat-button (click)="openDialog()"><mat-icon>add</mat-icon>Añadir un nuevo curso</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef> Inicio </th>
    <td mat-cell *matCellDef="let element"> {{element.startDate | date: 'dd/MM/YYYY'}} </td>
  </ng-container>

  <ng-container matColumnDef="spots">
    <th mat-header-cell *matHeaderCellDef> Cupos </th>
    <td mat-cell *matCellDef="let element"> {{element.studentQuota - element.subscribedStudents.length}} </td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef> Fin </th>
    <td mat-cell *matCellDef="let element"> {{element.endDate | date: 'dd/MM/YYYY'}} </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Detalles </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button matTooltip="Ver detalles (no implementado)" matTooltipPosition="above">
        <mat-icon>visibility</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Editar</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="editCourse(element)" mat-icon-button matTooltip="Editar curso" matTooltipPosition="above">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Eliminar</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="deleteCourseById(element.id)" mat-icon-button matTooltip="Eliminar curso" matTooltipPosition="above">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>