@if (isLoading$ |async ) {
<mat-spinner></mat-spinner>
} @else if (error$ | async) {
<p>Ocurrió un error inesperado.</p>
<button mat-flat-button (click)="reloadPage()">Recargar</button>
} @else {

<button *ngIf="(authUser$ | async)?.role === 'ADMIN'" mat-flat-button (click)="openCourseDialog()"><mat-icon>add</mat-icon>Añadir un nuevo curso</button>

<table mat-table [dataSource]="courses$" class="mat-elevation-z8">

  <ng-container matColumnDef="comision">
    <th mat-header-cell *matHeaderCellDef chaTitle> Comisión </th>
    <td mat-cell *matCellDef="let element"> {{element.comision}} </td>
  </ng-container>

  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef chaTitle> Curso </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef chaTitle> Inicio </th>
    <td mat-cell *matCellDef="let element"> {{element.startDate | date: 'dd/MM/YYYY'}} </td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef chaTitle> Fin </th>
    <td mat-cell *matCellDef="let element"> {{element.endDate | date: 'dd/MM/YYYY'}} </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef chaTitle> Detalles </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [routerLink]="element.id" matTooltip="Ver detalles" matTooltipPosition="above">
        <mat-icon>visibility</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef chaTitle> Editar</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="openCourseDialog(element)" mat-icon-button matTooltip="Editar curso" matTooltipPosition="above">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef chaTitle> Eliminar</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="deleteCourseById(element.id)" mat-icon-button matTooltip="Eliminar curso" matTooltipPosition="above">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
}