<mat-drawer-container class="container dashboard" autosize>

  <mat-drawer [opened]="true" #drawer class="sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item (click)="main='start'"><mat-icon>home</mat-icon> Inicio</a>
      <a mat-list-item (click)="main='courses'"><mat-icon>school</mat-icon> Cursos</a>
      <a mat-list-item (click)="main='students'"><mat-icon>group</mat-icon> Alumnos</a>
      <a mat-list-item (click)="main='subscriptions'"><mat-icon>edit_calendar</mat-icon> Inscripciones</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">

    <mat-toolbar class="toolbar">
      <button (click)="drawer.toggle()" mat-icon-button class="icon" aria-label="Example icon-button with menu icon" matTooltip="Menú">
        <mat-icon>menu</mat-icon>
      </button>
      <span chaTitle [ngSwitch]="main">
        <span *ngSwitchCase="'start'">Incio</span>
        <span *ngSwitchCase="'courses'">Listado de cursos</span>
        <span *ngSwitchCase="'students'">Listado de alumnos</span>
        <span *ngSwitchCase="'subscriptions'">Inscripciones</span>
      </span>

      <span class="spacer"></span>

      <button (click)="changeTheme()" mat-icon-button class="icon favorite-icon" matTooltip="Modo oscuro">
        <mat-icon>sunny</mat-icon>
      </button>
      <button (click)="logOut.emit()" mat-icon-button class="icon" matTooltip="Salir">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <main [ngSwitch]="main" class="p-5">
      <p *ngSwitchCase="'start'">Seleccione Cursos o Alumnos del menú lateral</p>
      <cha-courses *ngSwitchCase="'courses'"></cha-courses>
      <cha-students *ngSwitchCase="'students'"></cha-students>
      <p *ngSwitchCase="'subscriptions'">Esta función aún no ha sido implementada.</p>
    </main>

  </div>

</mat-drawer-container>