.container {
  width: 100%;
  height: 100vh;
}

.sidenav-content {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
  max-width: 300px;
}

.spacer {
  flex: 1 1 auto;
}